# Обычная установка требоваемых пакетов
sudo apt update
sudo apt install g++ make build-essential libopencv-dev libbluetooth-dev

sudo apt install python3 python3-pip
sudo pip install requests tqdm 

# Установка WiringOP
git clone https://github.com/orangepi-xunlong/WiringOP.git
cd WiringOP
sudo ./build
